{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">About your claim</h1>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Workplace contact details</h2>

                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Change</a>
                    </li>
                  </ul>
            </div>

            <div class="govuk-summary-card__content">
                <table class="govuk-summary-list govuk-!-margin-bottom-0">
                    <tbody class="govuk-summary-list">

                        <tr class="govuk-summary-list__row">
                            <th scope="row" class="govuk-summary-list__key">
                                Name
                            </th>
                            <td class="govuk-summary-list__value">
                                John Doe
                            </td>
                        </tr>

                        <tr class="govuk-summary-list__row">
                            <th scope="row" class="govuk-summary-list__key">
                                Email address
                            </th>
                            <td class="govuk-summary-list__value">
                                john.doe@email.com
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Claim details</h2>
            </div>

            <div class="govuk-summary-card__content">
                <table class="govuk-summary-list govuk-!-margin-bottom-0">
                    <tbody class="govuk-summary-list">

                        <tr class="govuk-summary-list__row">
                            <th scope="row" class="govuk-summary-list__key">
                                Date of claim
                            </th>
                            <td class="govuk-summary-list__value">
                                22 January 2025
                            </td>
                        </tr>

                        <tr class="govuk-summary-list__row">
                            <th scope="row" class="govuk-summary-list__key">
                                Claim reference number
                            </th>
                            <td class="govuk-summary-list__value">
                                SW00000001
                            </td>
                        </tr>

                        <tr class="govuk-summary-list__row">
                            <th scope="row" class="govuk-summary-list__key">
                                Type of claim
                            </th>
                            <td class="govuk-summary-list__value">
                                Support worker
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>

    </div>
</div>

{% endblock %}