{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Changes you need to make to your claim</h1>

        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Claim details</h2>
            </div>

            <div class="govuk-summary-card__content">
                <table class="govuk-summary-list govuk-!-margin-bottom-0">
                    <tbody class="govuk-summary-list">

                        <tr class="govuk-summary-list__row">
                            <th scope="row" class="govuk-summary-list__key">
                                Date of claim
                            </th>
                            <td class="govuk-summary-list__value">
                                22 January 2025
                            </td>
                        </tr>

                        <tr class="govuk-summary-list__row">
                            <th scope="row" class="govuk-summary-list__key">
                                Claim reference number
                            </th>
                            <td class="govuk-summary-list__value">
                                SW00000001
                            </td>
                        </tr>

                        <tr class="govuk-summary-list__row">
                            <th scope="row" class="govuk-summary-list__key">
                                Type of claim
                            </th>
                            <td class="govuk-summary-list__value">
                                Support worker
                            </td>
                        </tr>

                        <tr class="govuk-summary-list__row">
                            <th scope="row" class="govuk-summary-list__key">
                                Changes you need to make
                            </th>
                            <td class="govuk-summary-list__value">
                                The dates are incorrect
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
        </button>

    </div>
</div>

{% endblock %}