{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



        <h1 class="govuk-heading-l">What you will need to make a claim</h1>


        <p>You will need to tell us:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>dates that you travelled to or from work</li>
            <li>the details of the person or company we need to pay - this could be you, a family member or friend, your employer or a transport company</li>
           
        </ul>

        <p>If you want us to pay a person or company we have not paid before, you'll need to give their name, address, email and bank details.</p>



        <h2 class="govuk-heading-m">If you are an employee</h2>

        <p>You will need the name and email address of a workplace contact we can ask to confirm each journey you are claiming for. This needs to be someone like your line manager or HR manager.</p>



        <form action="transport-option" method="post" class="form">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Start a claim
            </button>

        </form>

    </div>
</div>




{% endblock %}
