{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="receipt-upload" method="post" class="form">
            <h1 class="govuk-heading-l">How to send us copies of receipts or invoices</h1>

            <p>We accept:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>photos or scans of paper receipts or invoices</li>
                <li>digital receipts or invoices</li>
            </ul>

              <p>Your receipts or invoices must show the:</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>cost of the journey</li>
                  <li>date of the journey</li>
                  <li>full name of the person or company who provided transport</li>

              </ul>
              <p>You can either send:</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>a receipt or invoice for all the journeys you are claiming for</li>
                  <li>separate receipts and invoices for journeys - up to a limit of 90 uploaded files for each claim</li>
                  <br/>  

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>


{% endblock %}
