{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="employees-claim-incorrect" method="post" class="form">

            <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="300">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="with-hint">
                  Tell us why you cannot confirm this claim
                </label>
              </h1>
              {% if (data["answers-checked-sw"]) %}
              <div id="claim-incorrect-hint" class="govuk-hint">
                  For example, the number of days of support are incorrect.
              </div>
              <p>Make sure you provide Joe Bloggs with enough information to correct their claim.</p>
              {% else %}
              <div id="job-description-hint" class="govuk-hint">
                  For example, the number of days of travel are incorrect.
              </div>
              <p>Make sure you provide Joe Bloggs with enough information to correct their claim.</p>
              {% endif %}
              <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
              <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
                You can enter up to 300 characters
              </div>
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>


{% endblock %}
