{% extends "layout.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



        <h1 class="govuk-heading-l">What you will need to make a claim</h1>


        <p class="govuk-body">You'll need to tell us:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the date you bought the equipment - you can find this on the receipt or invoice</li>
            <li>the person or company we need to pay - this can be you, a family member, friend, employer or anyone who paid for your equipment</li>
            <li>the name, address, email and bank details of any new person or company we haven't paid before</li>
        </ul>

        <p class="govuk-body">You can claim for more than one piece of specialist equipment.</p>

        <h2 class="govuk-heading-m">How to confirm your claim</h2>
        <p class="govuk-body">You'll need to send us an invoice or receipt for the equipment you are claiming for.</p>        


        <form action="before-you-continue-answer" method="post" class="form">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Start a claim
            </button>

        </form>

    </div>
</div>


{% endblock %}
