{% extends "layout.html" %}
{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



        <h1 class="govuk-heading-l">What you’ll need to make a claim</h1>

        <p class="govuk-body">You can claim for more than one piece of specialist equipment.</p>

        <h2 class="govuk-heading-m">Information you'll need to continue</h2>
        <p class="govuk-body">You'll need to tell us:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the date you bought the equipment – you can find this on the receipt or invoice</li>
            <li>details of the person or company we need to pay - this can be you, a family member, friend, employer or anyone who paid for your equipment</li>
        </ul>
        <p class="govuk-body">If you want us to pay a person or company we have not paid before, you'll need to give their name, address, email and bank details.</p>


        <h2 class="govuk-heading-m">Evidence you'll need to provide</h2>
        <p class="govuk-body">You'll need to send us an invoice or receipt for the equipment you are claiming for.</p>        


        <form action="before-you-continue-answer" method="post" class="form">

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Start a claim
            </button>

        </form>

    </div>
</div>


{% endblock %}
