{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% set equipmentLength %}
{{ data.equipment | length }}
{% endset %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form id="form" method="post" action="#">
      <h1 class="govuk-heading-l">Your specialist equipment</h1>

      <div data-module="moj-add-another">
        <!-- START HERE -->
        <fieldset class="govuk-fieldset moj-add-another__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="equipment_name">
              Name or description of equipment
            </label>

            <div id="equipment-name-hint" class="govuk-hint">
              For example, a Karma Ergo 115 wheelchair
            </div>

            <input class="govuk-input" value="{{data['equipment_name']}}" id="equipment_name" name="equipment_name" type="text">
          </div> <!-- govuk-form-group -->

          <div class="govuk-form-group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Date of purchase
            </legend>

            <div id="equipment-date-hint" class="govuk-hint">
              For example, 27 5 2021
            </div>

            <div class="govuk-date-input__item">
              <div class="govuk-date-input" id="equipment-date">

                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="equipment_day">
                      Day
                    </label>

                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                      value="{{data['equipment_day']}}" id="equipment_day" name="equipment_day" type="text"
                      pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>

                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="equipment_month">
                      Month
                    </label>

                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"
                      value="{{data['equipment_month']}}" id="equipment_month" name="equipment_month"
                      type="text" pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>

                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="equipment_year">
                      Year
                    </label>

                    <input class="govuk-input govuk-date-input__input govuk-input--width-4"
                      value="{{data['equipment_year']}}" id="equipment[0][year]" name="equipment_year" type="text"
                      pattern="[0-9]*" inputmode="numeric">
                  </div>
                </div>

              </div>
            </div> <!-- govuk-date-input__item -->
          </div> <!-- govuk-form-group -->

        </fieldset>
        <!-- ENDS HERE -->
        
        <div class="moj-button-action">
          <button class="govuk-button" data-module="govuk-button" name="action" value="continue">
            Continue
          </button>
        </div>
      </div> <!-- data module -->
    </form>
  </div>
  {# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}
{% endblock %}