{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="receipt-upload" method="post" class="form">
            <h1 class="govuk-heading-l">How to send us copies of receipts or invoices</h1>

            <p>We accept:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>photos or scans of paper receipts or invoices</li>
                <li>digital receipts or invoices</li>
            </ul>
            <h2 class="govuk-heading-m">Information you'll need to include</h2>

              <p>Your receipts or invoices must show:</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>the cost of the equipment</li>
                  <li>the date the equipment was bought</li>
                  <li>the full name of the person or company who provided the equipment</li>
                  <li>a short description of the equipment</li>
              </ul>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>


{% endblock %}
