{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}



{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" action="#">

      <div class="govuk-form-group">

        <h1 class="govuk-heading-l">

          {% if (data['month-list'].length < 1) %} 
          You've removed all the months from this claim
          {% else %}

          You’ve told us you want to claim for 

          {% if data['hour-total'] == 1 %} 
            {{data['hour-total']}} hour 
          {% elseif data['hour-total'] == 0 %} 

          {% else %} 
            {{data['hour-total']}} hours 
          {% endif %}

          {% if data['minute-total'] > 0 %}
          {% if data['hour-total'] != 0 %} 
            and 
            {% endif %}

            {{data['minute-total']}}
            {% if data['minute-total'] == 1 %} 
              minute 
            {% else %} 
              minutes 
            {% endif %}
          {% endif %}
          of support

          {% endif %}


        </h1>

        {% for month_data in data['month-list'] | sortBy('month') | sortBy('year') %}


        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Support in {{month_data.month | numberMonth}} {{month_data.year}}</h2>
            <ul class="govuk-summary-card__actions">
              {% if data['vrs-journey'] == 'true' %}
              <li class="govuk-summary-card__action"> <a class="govuk-link" href="minutes-for-month-change?month={{month_data.month}}&year={{month_data.year}}">
                Change support<span class="govuk-visually-hidden">minutes in {{month_data.month | numberMonth}} {{month_data.year}}</span>
              </a>
              {% else %}
              <li class="govuk-summary-card__action"> <a class="govuk-link" href="days-for-month-change?month={{month_data.month}}&year={{month_data.year}}">
                Change support<span class="govuk-visually-hidden">days in {{month_data.month | numberMonth}} {{month_data.year}}</span>
              </a>
              {% endif %}
            </li>
              <li class="govuk-summary-card__action"> <a class="govuk-link" href="remove-month?month={{month_data.month}}&year={{month_data.year}}">
                  Remove month<span class="govuk-visually-hidden"> of {{month_data.month | numberMonth}} {{month_data.year}}</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">

            {% if data['vrs-journey'] == 'true' %}

            <table class="govuk-summary-list govuk-!-margin-bottom-0">
              <tbody class="govuk-summary-list">
                <tr class="govuk-summary-list__row">
                  <th scope="row" class="govuk-summary-list__key">
                    VRS minutes in {{month_data.month | numberMonth}}
                  </th>
                  <td class="govuk-summary-list__value">
                    {{month_data.support}}
                  </td>
                  
                </tr>
              </tbody>
            </table>

            {% else %}

            <table class="govuk-summary-list govuk-!-margin-bottom-0">
              <tbody class="govuk-summary-list">
                {% for item in month_data.support | sortBy('day') %}

                <tr class="govuk-summary-list__row">
                  <th scope="row" class="govuk-summary-list__key">
                    {{item.day | weekDay(month_data.month, month_data.year) }} {{month_data.month | numberMonth}}
                  </th>
                  <td class="govuk-summary-list__value">
                    {% if item.support_hours %}
                    {{item.support_hours}} {% if item.support_hours == 1 %} hour {% else %} hours {% endif %}
                    {% if item.support_minutes %}
                    and
                    {{item.support_minutes}} {% if item.support_minutes == 1 %} minute {% else %} minutes {% endif %}
                    {% endif %}

                    {% elseif item.repeatsupport_hours %}
                    {{item.repeatsupport_hours}} {% if item.repeatsupport_hours == 1 %} hour {% else %} hours {% endif
                    %}
                    {% if item.repeatsupport_minutes %}
                    and
                    {{item.repeatsupport_minutes}} {% if item.repeatsupport_minutes == 1 %} minute {% else %} minutes {%
                    endif %}
                    {% endif %}

                    {% endif %}
                  </td>
                  
                </tr>

                {% else %}
                <div class="govuk-inset-text">
                  Tell us about the support you received to continue.
                </div>
                {% endfor %}
              </tbody>
            </table>

            {% endif %}

          </div>
        </div>

        {% endfor %}

      </div>

      {% if (data['month-list'].length < 1) %}
        <p class="govuk-body">
          If you still want to make a claim, you'll need to add support for at least one month.
        </p>
      {% else %}
      <p class="govuk-body">
        You can add other months to this claim if we need to pay the same person or company.
      </p>
      <p class="govuk-body">

        If we need to pay a different person or company, you'll need to make a separate claim.
      </p>
      {% endif %}


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              {% if (data['month-list'].length < 1) %} 
              Do you want to add a month to this claim? 
              {% else %}
                Do you want to add another month to this claim?
              {% endif %}
            </h2>
          </legend>
          
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="new-month" name="new-month" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="new-month">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="new-month-2" name="new-month" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="new-month-2">
                {% if (data['month-list'].length < 1) %}
                No, return to account home 
              {% else %}
                No
              {% endif %}
              </label>
            </div>
          </div>

        </fieldset>
      </div>


      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}