{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if data["support-worker-errors"]|length %}
        {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
        {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: data["support-worker-errors"]
        }) }}
        {% endif %}

        <form id="receiptForm" action="receipt-upload-add" method="post" class="form"
            onsubmit="document.getElementById('submitButton').setAttribute('disabled', 'disabled'); document.getElementById('submitButton').textContent = 'Uploading...'; window.setTimeout(function () { document.getElementById('receiptForm').submit(); }, 5000); return false">

            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">Upload your receipts or invoices</h1>
                </legend>

                <p>Before you upload your receipts or invoices:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>check files are in the right format - either PNG, JPEG, PDF, DOC or DOCX</li>
                    <li>make sure the files are not password protected</li>
                    <li>make sure your claim does not exceed the upload limit of 90 files</li>
                </ul>


                <h2 class="govuk-heading-m">Taking photos or scans of receipts or invoices</h2>
                <p>Make sure:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>you include the whole receipt or invoice</li>
                    <li>the photo or scan is not blurry</li>
                    <li>you take photos from above and not at an angle</li>
                    <li>you take photos in a well-lit place</li>
                </ul>

                {% if data["support-worker-errors"]|length %}

                <div class="govuk-form-group govuk-form-group--error">
                    <label class="govuk-label govuk-label--m" for="file-upload">
                        Upload a file
                    </label>
                    <div id="file-upload-hint" class="govuk-hint">
                        Select up to 5 files at one time.
                    </div>
                    <p id="file-upload-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> You can only select up to 5 files at the same time
                    </p>
                    <input class="govuk-file-upload" id="file-upload" name="file-upload" type="file" multiple="multiple"
                        aria-describedby="file-upload-hint">
                </div>

                {% else %}

                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="file-upload">
                        Upload files
                    </label>
                    <div id="file-upload-hint" class="govuk-hint">
                        Select up to 5 files at one time.
                    </div>
                    <input class="govuk-file-upload" id="file-upload" name="file-upload" type="file" multiple="multiple"
                        aria-describedby="file-upload-hint">
                </div>

                {% endif %}
                

            </fieldset>

            <button id="submitButton" type="submit" class="govuk-button" data-module="govuk-button">
                Upload
            </button>
        </form>
    </div>
</div>


{% endblock %}