{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="#" method="post" class="form">

          {% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set otherHtml %}
{{ govukInput({
  id: "type-not-shown",
  name: "typeNotShown",
  type: "type",
  autocomplete: "type",
  spellcheck: false,
  classes: "govuk-!-width-one-half",
  label: {
    text: "What is your support worker type?"
  }
}) }}
{% endset -%}

{{ govukRadios({
  name: "supportWorkerType",
  fieldset: {
    legend: {
      text: "Which support worker type are you claiming for?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select one option."
  },
  items: [
  {
    value: "BSL interpreter",
    text: "BSL interpreter"
  },
  {
    value: "Job aide",
    text: "Job aide"
  },
  {
    divider: "or"
  },
    {
      value: "other",
      text: "My support worker type is not shown",
      conditional: {
        html: otherHtml
      }
    }
  ]
}) }}


<button type="submit" class="govuk-button" data-module="govuk-button">
    Continue
</button>

        </form>
    </div>
</div>




{% endblock %}