{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="#">



      <div class="govuk-form-group">


        <h1 class="govuk-heading-l">You’ve told us you want to claim for 

        {% if taxiinworkTotal + repeattaxiinworkTotal === 100 %}
        <p>The amount we’ll pay back will be less than the total cost of the journeys. This is because we’ll deduct the
          amount you or your employer have agreed to pay.</p>
        {% else %}
        <p>This is the cost of all the taxi journeys during work you’ve told us you want to claim for.</p>
        {% endif %}

        <h3 class="govuk-heading-s">Taxi journeys in {{data["travel-in-work-date-month"] | numberMonth}}</h3>

        {% for item in data['travel-in-work'] %}
        
        <dl class="govuk-summary-list">
          {% for journey in item %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{journey.day}} {{data["travel-in-work-date-month"] | numberMonth}} {{data["travel-in-work-date-year"]}}
            </dt>
            <dd class="govuk-summary-list__value">
              From {{journey.postcodeFrom}}<br>
              To {{journey.postcodeTo}}<br>
              £{{journey.cost}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a id="{{item.day}}-change" class="govuk-link" href="taxi-journeys-for-day">
                Change<span class="govuk-visually-hidden"> Change {{item.day}} {{data["travel-in-work-date-month"] |
                  numberMonth}} {{data["travel-in-work-date-year"]}}</span>
              </a>
            </dd>
          </div>
          {% endfor %}
        </dl>
        {% endfor %}

      </div>

      {% if data['travel-to-work-date-month-repeat'] %}

      <div class="govuk-form-group">

        <h2 class="govuk-heading-s">Taxi journeys in {{data["travel-to-work-date-month-repeat"] | numberMonth}}</h2>

        {% for item in data['repeattravel'] | sortBy('day') %}
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{item.day}} {{data["travel-to-work-date-month-repeat"] | numberMonth}}
              {{data["travel-to-work-date-year-repeat"]}}
            </dt>
            <dd class="govuk-summary-list__value">
              From {{item.repeattravel_from}} <br>
              To {{item.repeattravel_to}} <br>
              £{{item.repeattravel_cost}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a id="{{item.day}}-change" class="govuk-link" href="taxi-journeys-for-day-repeat">
                Change<span class="govuk-visually-hidden"> Change {{item.day}}
                  {{data["travel-to-work-date-month-repeat"] | numberMonth}}
                  {{data["travel-to-work-date-year-repeat"]}}</span>
              </a>
            </dd>
          </div>
        </dl>
        {% else %}
        <div class="govuk-inset-text">
          Tell us about the journeys you have taken during work to continue.
        </div>
        {% endfor %}
      </div>

      {% endif %}


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Do you want to claim taxi costs for any journeys during work made in a different month?
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="new-month" name="new-month" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="new-month">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="new-month-2" name="new-month" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="new-month-2">
                No
              </label>
            </div>
          </div>

        </fieldset>
      </div>


      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
  </div>
</div>

{% endblock %}