{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form id="form" method="post" action="#">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Journey details</h1>

      <!-- START HERE -->

        {% for day in data["travel-in-work"] %}
        <input type="hidden" id="{{day.index}}-index" name="travel-in-work[{{day.index}}][index]" value="{{day.index}}">
        <input type="hidden" id="{{day.index}}-day" name="travel-in-work[{{day.index}}][day]" value="{{day.day}}">

        <fieldset class="govuk-fieldset" >
          
          {% if data["travel-in-work-date-month"] % 2 == 0 %}

          {% for journey in day.journeys %}
          <input type="hidden" id="{{day.index}}-{{journey.index}}-index" name="travel-in-work[{{day.index}}][journeys][{{journey.index}}][index]" value="{{journey.index}}">

          <hr />

          <div class="govuk-date-input" id="postcodes-for-journey">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s" >
              <h1 class="govuk-fieldset__heading">
                {{(((journey.index | int) +1) | stringifyNumber) | capitalizeFirstLetter }}
                journey  on {{day.day}} {{data["travel-in-work-date-month"] | numberMonth}} {{data["travel-in-work-date-year"]}}
              </h1>
            </legend>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="{{day.index}}-{{journey.index}}-postcode-from">
                  Start postcode
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-10" id="{{day.index}}-{{journey.index}}-postcode-from" name="travel-in-work[{{day.index}}][journeys][{{journey.index}}][postcodeFrom]" type="text" value={{journey.postcodeFrom}}>
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="{{day.day}}-{{journey.index}}-postcode-to">
                  End postcode
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-10" id="{{day.day}}-{{journey.index}}-postcode-to" name="travel-in-work[{{day.index}}][journeys][{{journey.index}}][postcodeTo]" type="text" value="{{journey.postcodeTo}}">
              </div>
            </div>
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="{{day.index}}-{{journey.index}}-cost">
              Total cost of this journey in pounds
            </label>
            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="govuk-input govuk-input--width-3" id="{{day.index}}-{{journey.index}}-cost" name="travel-in-work[{{day.index}}][journeys][{{journey.index}}][cost]" type="text" value="{{journey.cost}}">
            </div>
          </div>
          {% endfor %}

          {% else %}
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Journeys for {{day.day}} {{data["travel-in-work-date-month"] | numberMonth}}
            </h1>
          </legend>

          {% for journey in day.journeys %}

          <input type="hidden" id="{{day.day}}-{{journey.index}}-day" name="travel-in-work[{{day.day-1}}][{{journey.index}}][day]" value="{{day.day}}">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s" >
            <h1 class="govuk-fieldset__heading">
              Journey {{journey+1}} on {{day.day}} {{data["travel-in-work-date-month"] | numberMonth}}
            </h1>
          </legend>
          <div class="govuk-form-group">
            <label class="govuk-label" for="{{day.postcodeFrom}}">
              Postcode of place where journey started
            </label>
            <input class="govuk-input govuk-input--width-10" id="{{day.day}}-{{journey.index}}-postcode-from" name="travel-in-work[{{day.day-1}}][{{journey.index}}][postcodeFrom]" type="text" value="{{day.postcodeFrom}}">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="{{day.postcodeTo}}">
              Postcode of place where journey ended
            </label>
            <input class="govuk-input govuk-input--width-10" id="{{day.day}}-{{journey.index}}-postcode-to" name="travel-in-work[{{day.day-1}}][{{journey.index}}][postcodeTo]" type="text" value="{{day.postcodeTo}}">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="{{day.day}}-{{journey}}-cost">
              Total cost of this journey in pounds
            </label>
            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="govuk-input govuk-input--width-3" id="{{day.day}}-{{journey.index}}-cost" name="travel-in-work[{{day.day-1}}][{{journey.index}}][cost]" type="text" value="{{day.cost}}">
            </div>
          </div>
          {% endfor %}

          {% endif %}

          


        </fieldset>
        {% endfor %}

      <div class="moj-button-action">
        <button class="govuk-button" data-module="govuk-button" name="action" value="continue">
          Continue
        </button>
      </div>
  </div> <!-- data module -->
  </form>
</div>
{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}
{% endblock %}