{% extends "layout.html" %}

{% block pageTitle %}
Claim money back from Access to Work
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="total-mileage-answer" method="post" class="form">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="event-name">
            Total miles you're claiming for
          </label>
        </h1>
        <input class="govuk-input govuk-input--width-5" id="total-mileage" name="total-mileage" type="text" spellcheck="false">
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>
  </div>
</div>

{% endblock %}