{% extends "layout_no_contact.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}


{% block content %}

<style>
    th,
    td {
        border-bottom: 1px solid #b1b4b6 !important
    }
</style>



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                <img src="/public/images/Department_for_Work_and_Pensions_logo.png" alt="Department for Work and Pensions logo" height="80">
        
            </div>
            <div class="govuk-grid-column-three-quarter">
                <h1 class="govuk-heading-m govuk-!-text-align-right">Access to Work<br />Claim for travel during work costs
                </h1>
            </div>
            <hr/>
        
        </div>


        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Claimant’s details</caption>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Full name</th>
                    <td class="govuk-table__cell">Jane Doe</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Access to Work number</th>
                    <td class="govuk-table__cell">ATW1234567895</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Email address</th>
                    <td class="govuk-table__cell">jane.doe@email.com</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Home address</th>
                    <td class="govuk-table__cell">32 Windsor Gardens</br>London</br>W9 3RG</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Claim type</th>
                    <td class="govuk-table__cell">Travel during work</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Company or organisation name</th>
                    <td class="govuk-table__cell">JaneDoeCo.</td>
                </tr>
            </tbody>
        </table>

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Claim information</caption>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Month of travel</th>
                    <td class="govuk-table__cell">
                        January 2023
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Journeys made in January</th>
                    <td class="govuk-table__cell">
                        1 January<br/>
                        From AA12 3AA<br/>
                        To BB12 3BB<br/>
                        £7.50
                        <br/>
                        <br/>
                        1 January<br/>
                        From BB12 3BB<br/>
                        To AA12 3AA<br/>
                        £8.00
                        <br/>
                        <br/>
                        3 January<br/>
                        From AA12 3AA<br/>
                        To BB12 3BB<br/>
                        £7.90
                        <br/>
                        <br/>
                        3 January<br/>
                        From BB12 3BB<br/>
                        To CC12 3CC<br/>
                        £11.00
                        <br/>
                        <br/>
                        3 January<br/>
                        From CC12 3CC<br/>
                        To AA12 3AA<br/>
                        £17.20
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Month of travel</th>
                    <td class="govuk-table__cell">
                        February 2023
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Journeys made in February</th>
                    <td class="govuk-table__cell">
                            1 February<br/>
                            From AA12 3AA<br/>
                            To DD12 3DD<br/>
                            £8.50
                            <br/>
                            <br/>
                            9 February<br/>
                            From AA12 3AA<br/>
                            To DD12 3DD<br/>
                            £7.50
                    </td>
                    
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Total number of journeys</th>
                    <td class="govuk-table__cell">7 journeys</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Total cost of journeys</th>
                    <td class="govuk-table__cell">£67.6</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Receipt attached</th>
                    <td class="govuk-table__cell">Yes</td>
                </tr>
            </tbody>
        </table>

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Payee details</caption>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Payee full name</th>
                    <td class="govuk-table__cell">John Smith</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Payee email address</th>
                    <td class="govuk-table__cell">john.smith@email.com</td>
                </tr>
            </tbody>
        </table>

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Employment details</caption>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Employment status</th>
                    <td class="govuk-table__cell">Employed</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Workplace contact</th>
                    <td class="govuk-table__cell">Jane Smith</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Workplace contact email address</th>
                    <td class="govuk-table__cell">jane.smith@email.com</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Name of company or organisation they work for</th>
                    <td class="govuk-table__cell">Deaf Action Charity</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Organisation address</th>
                    <td class="govuk-table__cell">
                        12 Three Rd<br />
                        Fourtown<br />
                        FS78 9TN
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Workplace contact job title</th>
                    <td class="govuk-table__cell">QA Engineer</td>
                </tr>
            </tbody>
        </table>

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Claim declaration</caption>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Claimant declaration</th>
                    <td class="govuk-table__cell">Yes</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Claim sent to workplace contact</th>
                    <td class="govuk-table__cell">4 March 2023</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Workplace contact declaration</th>
                    <td class="govuk-table__cell">Yes</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Claim submission date</th>
                    <td class="govuk-table__cell">6 March 2023</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}